body{
    background-color: #f4f4f4;
}
*{
    margin: 0;
    padding: 0;
}
table{
    font-family: 'Arial', sans-serif;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 60px auto;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    overflow: hidden;
    border-radius: 4px;
}
td ,th{
    /* border: 1px solid #ddd; */
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
tbody,tr{
    border: 1px solid #ddd;

}
th{
    font-weight: bold;
    background:rgb(90, 222, 90);
}
tr:nth-child(even){
    background: #f9f9f9;
}
tr:nth-child(odd){
    background: white;
}
tbody tr:nth-last-child(1) td:nth-child(4){
    background:rgb(245, 192, 94);
}
tbody tr:nth-last-child(1) td:nth-child(1){
    background: pink;
}
tbody tr:nth-last-child(4) td:nth-child(1){
    background: rgb(204, 231, 240);
}
tbody tr:nth-last-child(4) td:nth-child(4){
    background: lightblue;
    border-radius: 0px 10px 0px 0px;
}